
.dark-body{
    display: block;
    width: 100vw;
    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-header{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 5vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    top: 0vh;
    align-items: center;

    
}

.content-container{
    display: flex;
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
}


.filter-menu{
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 100%;

    border: 0.2vh solid white;
    box-sizing: border-box;
    line-height: 0;
}

.taxa-menu{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 30vh;
    overflow: hidden;

}

.location-menu{
    display: list-item;
    width: 25vw;
    height: 30vh;

}


.date-menu{
    display: list-item;
    width: 25vw;
    height: 25vh;

}


.filter-header{
    min-width: 50%;
    display: flex;
    color: white;
    height: 3vh;
    font-size: 2vh;
    border: 0.2vh solid white;
    box-sizing: border-box;
    background-color: black;
    align-items: center;
    padding-left: 0.2vh;

}

.search-box-container{
    display: flex;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    background-color: black;
    resize: none;
    color: white;
    border: 0.2vh solid white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

.search-box{
    width: 100%;
    font-size: 24px;
    resize: none;
    color: white;
    background-color: black;
    border: none;
    margin-right: 1vw;
    
}

.search-box:focus{
    outline: none;
}


.flex-column{
    display: flex;
    height: max-content;          
    min-height: 0;                   
}



.result-list{
    display: block;
    height: 24vh;
    min-width: 50%;
    background-color: black;
    overflow: scroll;
    overflow-x: hidden;
    border: 0.2vh solid white;


}


.list-box{
    display: block;
    width: 100%;
    height: 24vh;
    background-color: black;
    justify-content: center;  
    align-items: center;
    overflow-x: hidden;
    overflow: scroll;        
    border: 0.2vh solid white;
    
}

.list-box:empty{
  display: none;
}


.list-item{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    background-color: black;
    border-bottom: 0.2vh solid white;
    box-sizing: border-box;
    padding: 0.5vh;
}   





.clear-search-button{
    cursor: pointer;
    width: 1.5vh;
    height: 1.5vh;
    margin: 1vh;
}

.clear-search-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(330deg) saturate(600%) contrast(0.8);
}

.remove-button{
    cursor: pointer;
    content: url("res/icon_X.svg");
    width: 1.5vh;
    height: 1.5vh;
    margin: 1vh;
}

.remove-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(330deg) saturate(600%) contrast(0.8);
}


.rank-options{
    display: flex;
    height: 4vh ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 4vh;
    margin-right: 4vh;
}

.rank-button{
    cursor: pointer;
    font-size: 1.5vh;
    padding: 0.25vh;
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
}

.rank-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}

.rank-button-selected{
    font-size: 1.5vh;
    padding: 0.25vh;
    border-style: solid;
    border-color: green;
    background-color: black;
    color: white;
}


.date-container{
    display: flex;
    height: 3vh ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-style: solid;
    color: white;
}


.n-questions-input{
    width: 5vw;
    height: 3vh;
    font-size: 2vh;
    background-color: black;
    color: white;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
    text-align: center;
    margin-left: 1vw;
}

.make-quiz-button{
    display: flex;
    margin: 2.5vw;
    font-size: 2vh;
    width: 20vw;
    height: 6vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    border-style: solid;
    color: white;
    border-color: white;
    cursor: pointer;
}

.make-quiz-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}


.main-view{
    justify-content: center;
    width: 50vw;
    display: block;
    align-items: center;
    height: 95vh;

}


.center-box {
  display: flex; 
  align-items: center;
  justify-content: center;         /* shrink-wrap to content */
}


.center-box{
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
    z-index: 3;
}


.controls-container{
    display: none;
    height: max-content;
    z-index: 3;


}

.loading-container{
    display: none;
}

.loading-indicator{
    display: block;
    position: absolute;
    width: 12vh;
    height: 12vh;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    content: url("https://upload.wikimedia.org/wikipedia/en/7/76/INaturalist_logo.png");
    
    /* rotation animation */
    animation: spin 2s linear infinite;

    /* optional: set where it rotates around */
    /* transform-origin: center center; */
}


@keyframes spin{
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to   { transform: translate(-50%, -50%) rotate(360deg); }
}

.loading-indicator-text{
    display: flex;
    position: absolute;
    font-size: 3vh;
    color: white;
    transform: translate(-50%, -50%);
    top: 62%;
    left: 50%;
    z-index: 4;
}


.loading-indicator-text::after{
  content: "";
  display: inline-block;
  width: 1.5em;              /* reserves space so layout doesn't shift */
  text-align: left;
  animation: dots 2s steps(4, end) infinite;
}

@keyframes dots{
  0%   { content: ""; }
  25%  { content: "."; }
  50%  { content: ".."; }
  75%  { content: "..."; }
  100% { content: ""; }
}


/* Quiz View Styles */


.image-view{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    z-index: 3;

}


.image-view-item{
    height: 60vh;
    width: 50vw;
    object-fit: scale-down;
    background-color: black;
    position: absolute;
    top: 100px;
    transition: opacity 0.5s;
    cursor: pointer;
}

.observation-metadata-container{
    display: flex;
    font-size: 1.5vh;
    justify-self: center;
    align-items: center;
    height: 4vh;
    max-width: 80%;
    z-index: 3;
    margin-top: 2vh;
    color: white;
}




.next-button{
    font-size: 2vh;
    margin: 1vh;
    text-align: center;
    height: 4vh;
    width: 20%;
    background-color: black;
    border-style: solid;
    color: white;
    border-color: white;
}

.option-button{
    border: 5%;
    border-color: white;
    border-style: solid;
    padding: 0.25vh;
    margin: 0.5vh;
    font-size: 2vh;
    text-align: center;
    height: 8vh;
    width: 15vw;
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;

    > span {
        display: block;
        line-height: 1.5;
        font-style: normal;
        font-size: 1.5vh;

    
        &:first-of-type {
            font-style: italic;
            line-height: 1.5;
            font-size: 2vh;
        }
    }
}


.options{
    display: grid;
    grid-template-columns: repeat(2, 15vw);
    gap: 0 1vh;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.score-label{
    display: none;
    font-size: 2.5vh;
    position: fixed;
    width: 50vw;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

/* Summary View Styles */

.summary-view{
    display: none;
    justify-self: center;
    width: 40vw;
    height: 80vh;
    background-color: black;
    padding: 1vh;
    border: 0.2vh solid white;
    margin-bottom: 2vh;

    box-sizing: border-box;

    overflow-y: auto;
    
}


.summary-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: black;
    border: 0.2vh solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    box-sizing: border-box;
}



.summary-image{
    height: 100%;
    width: 15vh;
    object-fit: scale-down;
    margin-right: 1vw;
}

.summary_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.summary-text-box-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    border: 0.2vh solid green;
}

.summary-text-box-wrong{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8vh;
    border: 0.2vh solid red;
}

.summary-text-right{
    padding: 1vh;
    font-size: 3vh;
    text-align: left;
    width: 15vw;
    white-space: nowrap;
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;

    > span {
        display: block;
        font-style: normal;
        line-height: 1.25;
        font-size: 2vh;

    
        &:first-of-type {
            font-style: italic;
            line-height: 1.25;
            font-size: 2.5vh;
        }
    }
}


.summary-text-wrong{

    text-align: left;
    padding: 1vh;
    width: 15vw;
    white-space: nowrap;
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: line-through solid rgba(255, 0, 0, 0.75) 0.25vh;
  

    > span {
        display: block;
        font-style: normal;
        line-height: 1.25;
        font-size: 2vh;


    
        &:first-of-type {
            font-style: italic;
            line-height: 1.25;
            font-size: 2.5vh;
        }
    }
}


.question-number{
    font-size: 3vh;
    color: white;
    text-align: center;
    position: absolute;
    left: 1vh;
    top: 1vh;
}


.inat-link{
    height: 6vh;
    width: 6vh;
    font-size: 2vh;
    color: white;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    content: url("https://upload.wikimedia.org/wikipedia/en/7/76/INaturalist_logo.png");
}



.wiki-link{
    height: 3vh;
    width: 3vh;
    font-size: 2vh;
    color: white;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    content: url("https://upload.wikimedia.org/wikipedia/commons/6/63/Wikipedia-logo.png");
    
}


.ecosia-link{
    height: 3vh;
    width: 3vh;
    font-size: 2vh;
    color: white;
    text-align: center;
    margin: 1vh;
    cursor: pointer;
    content: url("https://play-lh.googleusercontent.com/4M6BlVMdaF8jSYIqdLhPL8hdPLsSuMCQidOK30awH6-oQz9wCPSjzZDtIzxmnv7TWlaFmVYOLPQIxC7ez9QfDQ=s96-rw");
}

.indicator{
    position: relative;
    left: 50%;
    right: 50%;
    background-color: white;
    width: 2px;
    height: 45vh;
    z-index: 6;
    top: 7%;
}


/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
    }
    
    ::-webkit-scrollbar-track {
    border-left: 0.2vh solid white;
    }
    
    ::-webkit-scrollbar-thumb {
    background: white;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: green;
    }

.search-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    border-bottom: 0.2vh solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    box-sizing: border-box;
    cursor: pointer;
}
.search-item:hover{
     text-decoration: underline;
}



.taxon-title{
    cursor:default;
    font-size: 2vh;
    width: 100%;
    line-height: 2vh;
}

.taxon-sub-title{
    cursor:default;
    font-size: 1.5vh;
    width: 100%;
}



.location-title{
    font-size: 2vh;
    width: 100%;
    line-height: 2vh;
}


.settings-menu{
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 100%;

    border: 0.2vh solid white;
    box-sizing: border-box;
    line-height: 0;
}


.settings-header{
    min-width: 50%;
    display: flex;
    color: white;
    height: 3vh;
    font-size: 2vh;
    border: 0.2vh solid white;
    box-sizing: border-box;
    background-color: black;
    align-items: center;
    padding-left: 0.2vh;

}

.settings-content{
    display: flexbox;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    z-index: 3;

}




.top-right-menu{
    position: absolute;
    top: 0vh;
    right: 0vw;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: auto;
    z-index: 5;
}


.language-indicator{
    font-size: 2vh;
    color: white;
    background-color: black;
    border: 0.2vh solid white;
    box-sizing: border-box;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    cursor: pointer;
}

.language-dropdown{
    display: none;
    position: absolute;
    top: 3vh;
    right: 0vw;
    flex-direction: column;
    width: 15vw;
    height: auto;
    z-index: 6;
}

.language-option{
    font-size: 2vh;
    color: white;
    background-color: black;
    border: 0.2vh solid white;
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 1vh;
    cursor: pointer;
}

